<div class="banner banner-subpage text-center">
			<div class="container">
				<h2>New list</h2>
			</div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <h1>Add a new list</h1>
      <%= render 'lists/form' %>
    </div>
  </div>
</div>
