<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <h1>Add a list</h1>
      <%= render 'lists/form' %>
    </div>
  </div>
</div>
