.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.list-card {
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  &:hover {
    background-color: rgba(254, 185, 52, .2);
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards, .bookmarks {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards, .bookmarks {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards, .bookmarks {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards, .bookmarks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards, .bookmarks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.movie-card {
  position: relative;
  width: 400px;
  transition: all .3s;
  .fa-trash-alt {
    position: absolute;
    bottom: 16px;
    top: 8px;
    right: -16px;
    font-size: 24px;
    color: $yellow;
  }
}

.comment {
  font-style: italic;
}

.overview {
  display: none;
  // transition: all .3s;
}

// .movie-card:hover {
//   width: 400px;
// }

.movie-card:hover .overview {
  display: block;
}

.bookmarks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.list-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .card-product {
//   position: relative;
//   overflow: hidden;
//   height: 160px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   // border-radius: 4px;
//   display: flex;
//   align-items: center;
// }

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product .card-product-infos {
//   padding: 16px;
// }

// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 100%;
// }

// .card-restaurant {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .card-restaurant > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }

// .card-restaurant h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
//   border-radius: 4px;
// }

// .card-restaurant p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
//   // border-radius: 4px;
// }


// .card-restaurant .card-restaurant-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   // align-items: flex-end;
//   position: relative;
// }

// .card-restaurant-infos .card-restaurant-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

// a {
//   color: black;
//   text-decoration: none;
//   // border-radius: 4px;
// }

// // .btn {
// //   color: white;
// // }
